.facts{
    font-family: "Nunito", sans-serif; 
}
.fadeIn {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInAnimation 0.8s ease forwards;
  }
  
  @keyframes fadeInAnimation {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  